/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 7rem;
  height: 3rem;
}
body {
  min-height: 100vh;
  background-color: #fff;
} */
/* .navbar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: rgb(126, 9, 9);
  transition: 0.4%;
}

.nav-link {
  font-size: 1.25em;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #fff;
} */

.paragraphPrijava {
  padding-right: 20px;
}

hr {
  margin: 0;
}
.btnSubNav {
  border-radius: 30px;
  background-color: rgba(212, 208, 208, 0.452);
}
.btnSubNavFirst {
  border-radius: 30px;
}
.rowCards {
  margin-left: 10px;
}
.sidebarMenu {
  display: none !important;
}
#listSidebar {
  border: 0;
  margin-left: 21px;
  padding-right: 0;
}
.listSidebar small {
  font-size: 11px;
}
.listSidebar svg {
  margin-right: 0;
  justify-content: center;
}
.listaYoutubeTv {
  position: absolute;
  margin-left: 0.5rem;
  margin-top: -7px !important;
  width: 12rem;
  border-radius: 0;
}
.listaYoutubeTv li {
  height: 2.5rem;
}
.listaPostavke {
  position: absolute !important;
  margin-top: 2rem !important;
  width: 17rem;
  border-radius: 0;
  width: 19rem;
}
.listaPostavke li {
  height: 2.5rem;
}
